@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    background-color: #ebdcce;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

input[type=text] {
    padding: 3px;
    margin: 5px 0px;
    border: 2px solid #9c9595;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid #6A492B;
}

button {
    padding: 3px 0;
    margin: 7px 0;
    width: 80px;
    text-align: center;
    border: none;
    border: 2px solid #3CA85B;
    border-radius: 8px;
    font-size: 14px;
}

button:hover {
    background-color: #52bf90;
    cursor: pointer;
}

button:disabled {
    cursor: auto;
}

.button-container {
    display: flex;
    justify-content: center;
}


